table thead th,table tbody td {
    text-align: center;
}


.alert-danger {
    bottom: 58px;
    position: fixed;
    width: 100%;
    margin-left: 241px;
}

.alert-danger h5 {
    color: red;
}
.notification{
    bottom: 58px;
    position: fixed;
    width: 100%;
    margin-left: 241px;
}